@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-900;
  }
}

.responsive-tab-trigger .compact {
  display: none;
}

@media (max-width: 768px) {
  .responsive-tab-trigger[data-state='inactive'] .full {
    display: none;
  }

  .responsive-tab-trigger[data-state='active'] .full {
    flex-grow: 1;
  }

  .responsive-tab-trigger[data-state='inactive'] .compact {
    display: block;
    flex-shrink: 1;
  }
}
